<!DOCTYPE html>
<html>
<head>
  <title>Create New Project</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>Create New Project</h1>
  <% if (error && error.length > 0) { %>
    <ul style="color: red;">
      <% if (Array.isArray(error)) { %>
        <% error.forEach(err => { %>
          <li><%= err %></li>
        <% }) %>
      <% } else { %>
        <li><%= error %></li>
      <% } %>
    </ul>
  <% } %>
  <form action="/projects" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" required><br><br>
    <label for="completedTasks">Completed Tasks:</label>
    <textarea id="completedTasks" name="completedTasks"></textarea><br><br>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" required><br><br>
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate"><br><br>
    <button type="submit">Create Project</button>
  </form>
  <a href="/projects">Back to Projects</a>
</body>
</html>